<div class="container"
    fxLayout="column"
    fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div>

    <div fxFlex *ngIf="dishes"> <!--creating dish objects in a loop and assigning event handlers to each object-->
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]"> <!--foreach loop iterating over array of Dish objects-->
                <img height="200px" src={{dish.image}} alt={{dish.name}}>
                <mat-grid-tile-footer>
                    <h1 matLine>{{dish.name | uppercase}}</h1>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div fxFlex [hidden]="dishes">
        <mat-spinner></mat-spinner><h4>Loading...Please Wait :)</h4>

    </div>
    <!--[dish] = "selectedDish" binds the dish property of dishdetail.ts to the selectedDish property of 
    menu.component.ts . Because menu.component.ts and menu.component.html are part of the same component, 
    I don't need to instantiate an instance of menu to access its selectedDish property. The same applies to
    the dish property inside the app-dishdetail tags, thus the dish that gets rendered is set to whichever
    dish is clicked. So the dish property getting rendered is set by selectedDish-->
   
    

</div>
